parameters:
	level: max
	ignoreErrors:
		-
			message: '#sleep blocks the event loop#'
			path: ../../tests/RuntimeTest.php
		-
			message: '#Call to static method PHPUnit\\Framework\\Assert::assertSame\(\) with 3 and 3 will always evaluate to true.#'
			path: ../../tests/RuntimeTest.php
		-
			message: '#sleep blocks the event loop#'
			path: ../../tests/Types.php
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime

includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon
	- ../../vendor/react-parallel/stubs/extension.neon
