parameters:
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	level: max
	ignoreErrors:
		-
			identifier: shipmonk.nonNormalizedType
			path: ../../src/Runtime.php
			count: 10
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime
